<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>

 </head>

 <body>
	<h1>Thank you for your registration!</h1>
	<p>Here are your registration information : </p>
	
	<table width='400'>
	   <tr><td width='200'>Registration Date</td><td width='150'><b>%s</b></td></tr>
	   <tr><td>Registered To</td><td><b>%s</b></td></tr>
	   <tr><td>E-mail Address</td><td><b>%s</b></td></tr>
	   <tr><td>Birthday</td><td><b>%s</b></td></tr>
	   <tr><td>Location</td><td><b>%s</b></td></tr>
	   <tr><td>Purchase Place</td><td><b>%s</b></td></tr>
	   <tr><td>Registration Code</td><td><b>%s</b></td></tr>
	</table>
	<br /><br /><br />
    <p>
    *******************************************************************************<br />
    ***&nbsp;&nbsp;&nbsp;&nbsp;This e-mail is sent by the r-pac system automatically,<br />
    ***&nbsp;&nbsp;&nbsp;&nbsp;and please do not reply this e-mail directly. <br />
    *******************************************************************************</p>
 </body>
</html>
